<header class="site-header">
  <div class="container">
    <nav class="main-navigation">
      <div class="logo">
        <a href="/">{{siteName}}</a>
      </div>
      <ul class="nav-menu">
        <li><a href="/" class="{{homeActiveClass}}">{{homeLabel}}</a></li>
        <li><a href="/about/" class="{{aboutActiveClass}}">{{aboutLabel}}</a></li>
        <li><a href="/blog/" class="{{blogActiveClass}}">{{blogLabel}}</a></li>
        <li><a href="/contact/" class="{{contactActiveClass}}">{{contactLabel}}</a></li>
      </ul>
      <div class="mobile-menu-toggle">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </nav>
  </div>
</header>