<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}} - {{siteName}}</title>
  <meta name="description" content="{{description}}">
  <meta name="author" content="{{author}}">
  <meta name="keywords" content="{{keywords}}">
  <link rel="stylesheet" href="/main.min.css">
  <link rel="canonical" href="{{canonicalUrl}}">
</head>